<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compliance So Simple</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <nav>
    <p>
      <%= link_to("Home", root_path)%>
      <%= link_to("About", about_path)%>
      <%= link_to("FAQ", posts_path)%>
      <%= link_to("Contact", contact_path)%>
    </p>
    </nav>
  </div>

    
  <div id = "header">
    <div class="container">
        <%= notice %>
        <%= alert %>
        <h1>Compliance <em>S</em>o <em>S</em>imple</h1>
        <h3>Free resources - explained so you understand</h3>
        <em>by Yong Chun Yuan</em>
    </div>
  </div>

  <div class = "container">
    <%= yield %>
	</div>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    © 2017 Yong Chun Yuan. All Rights Reserved.
  </div>
  </body>
</html>
